*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 47, 47);
    padding: 30px 30px 40px 30px;
    background-color: #F2EFE9;
}

aside{
    font-size: 35px;
    margin-bottom: 50px;
}

div#display{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.perguntas{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 480px;
}

.perguntas h1{
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.perguntas li input{
    transform: scale(1.6);
}

.perguntas ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 16px 0;
}

.perguntas li{
    display: flex;
    align-items: center;
    gap: 0 20px;
    justify-content: flex-start;
    min-height: 30px;
    
}
.perguntas li label{
    word-wrap: break-word;
    width: 400px;
    font-size: 16px;
}

.perguntas li div{
    display: none;
}
.check:checked + label + div{
    display: flex;
}